<h1>Add bootstrap and jquery</h1>
<br><br>


<h4>Add Bootstrap</h4>
<p>Step 1:</p>
<p><b>'npm install bootstrap'</b> OR <b>'npm i bootstrap'</b></p>
<p>for special version: 'npm i bootstrap@3.1'</p>
<p><i>Package added in package.json</i></p>
<br>
<p>Step 2:</p>
<p><i>Add in styles in angular.json</i></p>
<p>"node_modules/bootstrap/dist/css/bootstrap.min.css"</p>
<p><i>Add in scripts in angular.json</i></p>
<p>"node_modules/bootstrap/dist/js/bootstrap.min.js"</p>


<br>
<hr>
<br>


<h4>Add Jquery</h4>
<p>Step 1:</p>
<p><b>'npm install jquery'</b> OR <b>'npm i jquery'</b></p>
<p>for special version: 'npm i jquery@2.7'</p>
<p><i>Package added in package.json</i></p>
<br>
<p>Step 2:</p>
<p><i>Add in scripts in angular.json</i></p>
<p>"node_modules/jquery/dist/jquery.min.js"</p>