<h1>دایرکیتو های سفارشی</h1>
<p>1: Atrribute Directive -> ElementRef</p>
<p>2: Structural Directive -> TemplateRef , use *</p>
<br><hr>
<p>----------------------------------------------------</p>
<h3>1- Scope</h3>
<p>Function Based</p>
<p>قابل دسترسی در داخل تابع</p>
<p>Accessible inside function</p>

<br><br>

<h3>2- Context</h3>
<p>objec based</p>
<p>مرجع به آبجکت (this)</p>
<p>Refrence to object</p>

<p>----------------------------------------------------</p>

<h3>Example</h3>
<p>یه دایرکتیو می سازیم</p>
<p>ng g d colorful</p>
<p>check colorful.directive.ts</p>
<app-custom-directive></app-custom-directive>
<br><br>
<h3>Create carousel Gallery</h3>
<p>اول یک دایرکتیو کاستوم به نام  کروسل ساختیم</p>
<p>بعد یک سری تصاویر را در فولدر کپی کردیم - assets</p>
<p>یک اینترفیس کانتکس می سازیم</p>
<br>
<h3>use ViewContainerRef for Refrence and createEmbeddedView for view</h3>