<div class="container">

    <button routerLink="lesson1" class="base-button">Lesson 1</button>
    <button routerLink="lesson2" class="base-button">Lesson 2</button>
    <button routerLink="lesson3" class="base-button">Lesson 3</button>
    <button routerLink="lesson4" class="base-button">Lesson 4</button>
    <button routerLink="lesson5" class="base-button">Lesson 5</button>
    <button routerLink="lesson6" class="base-button">Lesson 6</button>
    <button routerLink="lesson7" class="base-button">Lesson 7</button>
    <button routerLink="lesson8" class="base-button">Lesson 8</button>
    <button routerLink="lesson9" class="base-button">Lesson 9</button>
    <button routerLink="lesson10" class="base-button">Lesson 10</button>


    <router-outlet></router-outlet>
</div>